header{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
  }
  
  
  
  img{
      height: 200px;
      display: flex;
  }
  
  .barra{
    display: flex;
    flex-direction: column;
    width: 1000px;
  }